@import "sass/helpers/variables";
@import "sass/helpers/mixins";

@import "sass/objects/pagination";

@import "sass/components/project";

@import "sass/layout/breadcrumb";

@import "sass/pages/inner";
@import "sass/pages/contact";
@import "sass/pages/blog";
@import "sass/pages/policies";
@import "sass/pages/projects";
@import "sass/pages/post";
@import "sass/pages/governance";
@import "sass/pages/about";
@import "sass/pages/project";
@import "sass/pages/paths";